.chip {
    display: inline-block;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 1.125rem;

    &--small {
        padding: 8px;
        font-size: 1rem;
        border-radius: 0;
    }

    &--green-500 {
        background-color: $color-green-500;
        color: $color-white;
    }

    &--red-600 {
        background-color: $color-red-600;
        color: $color-white;
    }

    &--blue-500 {
        background-color: $color-blue-500;
        color: $color-white;
    }
}