<!-- First card -->
<div class="card h-100">
  <img [src]="myUser.image" class="card-img-top mt-4" alt="Alumn photography" />
  <div class="card-body">
    <div class="card-body-text">
      <p class="card-text">
        {{ myUser.first_name }}
      </p>
      <p class="card-text mb-4">
        {{ myUser.last_name }}
      </p>
    </div>
    <div class="card-body-icons d-flex">
      <div
        class="card-body-icons-search d-flex flex-column align-items-center m-2 p-2"
        [routerLink]="['/user', myUser.id]"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
        <p class="card-body-icons-text mt-2">Detalle</p>
      </div>
      <div
        class="card-body-icons-update d-flex flex-column align-items-center m-2 p-2"
        [routerLink]="['/actualizar', myUser.id]"
      >
        <i class="fa-solid fa-arrows-rotate"></i>
        <p class="card-body-icons-text mt-2">Actualizar</p>
      </div>
      <div
        class="card-body-icons-erase d-flex flex-column align-items-center m-2 p-2"
        (click)="deleteUser(myUser.id)"
      >
        <i class="fa-solid fa-trash"></i>
        <p class="card-body-icons-text mt-2">Borrar</p>
      </div>
    </div>
  </div>
</div>
