$color-white: #FFFFFF;
$color-gray-300: #D1D5DB;
$color-gray-500: #6b7280;
$color-gray-800: #27272A;
$color-blue-50: #EFF6FF;
$color-blue-500: #3B82F6;
$color-blue-800: #1E40AF;
$color-green-500: #22C55E;
$color-red-600: #DC2626;

$font-family-base: 'Roboto', sans-serif;
$heading-3-font-size: 1.375rem;
$heading-5-font-size: 2.25rem;
$heading-7-font-size: 2.875rem;

$mq-desktop: 1024px;
